
// .custom-dialog-container {
//     border-radius: 0.8rem;
//     padding: 0;
// }
// ::ng-deep .mat-dialog-container {
//     position: fixed !important;
//     top: 50% !important;
//     left: 50% !important;
//     transform: translate(-50%, -50%) !important;
// z-index: 1000;
//     /* Asegúrate de que sea un valor alto */
//     background-color: white;
//     padding: 20px;
//     border-radius: 10px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
// }
/* Estilos personalizados para el panel del modal */
.custom-modal-panel .mat-dialog-container {
    position: absolute;
    /* Establece el posicionamiento para colocar encima del botón */
    top: 50px;
    /* Ajusta la distancia del top según el lugar donde quieras que aparezca */
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    /* Asegúrate de que tenga un z-index alto para estar encima de otros elementos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    /* Añade sombra para destacar el modal */
    border-radius: 8px;
}

.relative {
    position: relative;
    /* Usado en el botón para crear un contexto de referencia */
}

